Jinja2==2.8
MarkupSafe==0.23
PyYAML==3.11
argh==0.26.1
argparse==1.2.1
docopt==0.6.2
easywatch==0.0.3
functools32==3.2.3-2
glob2==0.4.1
json-spec==0.9.17
jsonschema==2.5.1
pandoc==1.0.0a14
pathlib==1.0.1
pathtools==0.1.2
ply==3.8
rglob==1.4
six==1.10.0
staticjinja==0.3.2
termcolor==1.1.0
watchdog==0.8.3
wsgiref==0.1.2
