Jinja2>=2.10.1
MarkupSafe==0.23
pyyaml>=4.2b1
argh==0.26.1
argparse==1.2.1
docopt==0.6.2
easywatch==0.0.3
glob2==0.4.1
json-spec==0.9.17
jsonschema==2.5.1
pathlib==1.0.1
pathtools==0.1.2
ply==3.8
rglob==1.4
staticjinja==0.3.2
