{% extends "_base.html" %}
{% block left_sidebar %}
{% endblock %}

{% block content %}

{% for group, entries in entry_groups.iteritems() %}
<h2>{{ group }}</h2>
<table class="table table-striped">
  <tbody>
    {% for entry in entries %}
    <tr>
      <td>
	<a href="{{ entry.year }}/{{ entry.id }}.html">{{ entry.title }}</a><br/>
	<small>
	  {% for author in entry.authors%}
	  {% if author.affiliation -%}
	  <abbr title="{{ author.affiliation }}">
	  {%- endif %}
	    {{author.name|e}}{% if not loop.last -%}
	    {% if author.affiliation %}</abbr>{% endif -%}
	  {{', '}}{% endif -%}
	  {% endfor %} &mdash; {{ entry.year }}
	</small>
      </td>
      <td>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endfor %}
{% endblock %}
