{% extends "_base.html" %}


{% block content %}
<div class="row">
  <div class="col-md-3">
    <div class="card darken-1" id="card-year">
      <div class="card-content">
	<span class="card-title">Filter by Year</span>
	<p>Use the buttons below to only show publications of a given year.</p>
      </div>
      <div class="card-action">
	{% for year in entry_groups %}
	<a class="btn btn-default btn-year white black-text" href="#{{ year }}" data="{{ year }}" style="margin: 3px;">{{ year }}</a>
	{% endfor %}
      </div>
    </div>
    <div class="card darken-1" id="card-year">
      <div class="card-content">
	<span class="card-title">Peer Review</span>
	<p>Should we show just peer-reviewed publications?</p>
      </div>
      <div class="card-action">
	<div class="switch">
	  <label>
	    Peer-Review required
	    <input type="checkbox" class="right-align" id="peer-review-cb">
	    <span class="lever right-align"></span>
	  </label>
	</div>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    {% for group, entries in entry_groups.iteritems() %}
    <div class="card table-year" id="table-year-{{ group }}">
      <div class="card-content">
	<span class="card-title">{{ group }}</span>
	<table class="table table-striped">
	  <tbody>
	    {% for entry in entries %}
	    <tr class="year-{{ entry.year }} {% if entry['peer-reviewed'] %}peer-reviewed{% endif %}">
	      <td>
		<a href="{{ entry.year }}/{{ entry.id }}.html">{{ entry.title }}</a><br/>
		<small>
		  {% for author in entry.authors%}
		  {%- if author.affiliation %}<abbr title="{{ author.affiliation }}">{% endif -%}
		    {{author.name|e}}
		    {%- if author.affiliation %}</abbr>{% endif -%}
		  {%- if not loop.last %}{{', '}}{% endif -%}
		  {% endfor %} &mdash; {{ entry.year }}
		</small>
	      </td>
	      <td>
	      </td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
    </div>
{% endfor %}

<script>
  $(document).ready(function(){
    $('#card-year').pushpin({ top: "100px" });
    $(".btn-year").click(function(ev){
      var year = $(ev.target).attr("data");
      $(".table-year").hide();
      $("#table-year-" + year).show();
    })
  $("#peer-review-cb").change(function () {
  var val = $("#peer-review-cb").prop("checked")
  console.log(val)
  if(val)
  $("tr:not(.peer-reviewed)").hide()
  else
  $("tr:not(.peer-reviewed)").show()
  })
  });
</script>
  </div>
</div>
{% endblock %}
